# PostgreSQL - Promotion
PROMO_DB_URL=your_jdbc_url
PROMO_DB_USER=your_user
PROMO_DB_PASS=your_password
PROMO_DB_NAME=db_name

# PostgreSQL - Ranking
RANKING_DB_URL=your_jdbc_url
RANKING_DB_USER=your_user
RANKING_DB_PASS=your_password
RANKING_DB_NAME=db_name

# PostgreSQL - Notification
NOTIF_DB_URL=your_jdbc_url
NOTIF_DB_USER=your_user
NOTIF_DB_PASS=your_password
NOTIF_DB_NAME=db_name

# RabbitMQ
RABBITMQ_HOST=<host>
RABBITMQ_PORT=<port>

# Observability
ZIPKIN_URL=<url>/api/v2/spans

# External Integrations
RESEND_API_KEY=your_api_key
